<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="view">
    <!--부트스트랩 js, jquery 추가-->
    <script th:inline="javascript">
<!--        $(document).ready(function() {-->
<!--            $("#btn-delete").on("click",()=> {-->
<!--                this.deleteById();-->
<!--            });-->
<!--        });-->

<!--        function deleteById() {-->
<!--            let id = $("#id").val();-->

<!--            $.ajax({-->
<!--                type : "POST",-->
<!--                url : "/api/board/delete/"+id,-->
<!--                dataType:"json"-->
<!--                })-->
<!--                .done(function(resp) {-->
<!--                    alert("삭제가 완료되었습니다.");-->
<!--                    location.href="/boards";-->
<!--                })-->
<!--                .fail( function(error) {-->
<!--                    alert(JSON.stringify(error));-->
<!--                });-->
<!--             };-->

        <!--댓글삭제-->
        function deleteComment(commentId){
            var id= $('input[name=id]').val();
            var urlName = "/api/commentDelete/"+id+"/"+commentId;
            var formDataObject = $("#frm2").serializeObject();
            var method = "POST";
            commonAjax(urlName, formDataObject, method);
        }

       <!--게시글 삭제-->
        $(document).ready(function(){
                $("#btn-delete").on("click",()=> {
                    deleteById();
                });
            });

        function deleteById(){
            var id= $('input[name=id]').val();
            var formDataObject = $("#frm").serializeObject();
            var urlName = "/api/board/delete/"+id;
            var method = "POST";
            commonAjax(urlName, formDataObject, method);
        }


        <!--댓글저장-->
        $(document).ready(function(){
            $("#btn-save").on("click",()=> {
                commentSave();
            });
        });

        function commentSave(){
            var id= $('input[name=id]').val();
            var formDataObject = $("#frm2").serializeObject();
            var urlName = "/api/comments/"+id;
            var method = "POST";
            commonAjax(urlName, formDataObject, method);
        }

        <!--대댓글저장-->

        function reCommentSave(parentId){
            var id= $('input[name=id]').val();

            //var content= $('input[name=content'+parentId+']').val();
            var formDataObject = $('#frm_'+parentId).serializeObject();
            var urlName = "/api/comments/"+id+"/"+parentId;
            var method = "POST";
            commonAjax(urlName, formDataObject, method);
        }



        <!--대댓글저장-->
<!--        $(document).on("click",".reCommentBtn",function (){-->

<!--            const _this = $(this);-->
<!--            //const cid = reComment.find("#commentId").val();-->
<!--            const cid = $(this).siblings('input').val();-->

<!--            _this.siblings('.reCommentDiv').show();-->
<!--            _this.hide();-->
<!--            _this.siblings('.reCommentCloseBtn').show();-->
<!--            });-->

    </script>


    <!--게시글 상세보기 영역-->
    <div class="container">
        <h1>Board View.</h1>
            <form id="frm" action="/boards/view" method="post" th:object="${board}">
            <input id="id" type="hidden" name="id" th:value="${board.id}">
            <div class="mb-3">
                <label class="form-label">Title.</label>
                <div class="form-control" name="title" th:utext="${board.title}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">조회수</label>
                <div class="form-control" name="viewCnt" th:utext="${board.view}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Writer.</label>
                <div class="form-control" name="author" th:utext="${board.author}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Content</label>
                <div class="form-control" name="content" th:utext="${board.content}"></div>
            </div>

            <a href="#" id="btn - list" class="btn btn-success" onclick="javascript:location.href='/boards'">목록으로</a>
            <a href="#" id="btn - edit" class="btn btn-success upt_btn"
               th:href="@{/boards/form(id=${board.id})}">수정하기</a>
            <a href="#" id="btn-delete" class="btn btn-success" onclick="deleteById(); return false;">삭제하기</a>
            </form>
            <div>
            <!--댓글 입력 영역-->
                    <form id="frm2" method="post">
                    <div class="card mb-2 mt-5">
                        <div class="card-header bg-light">
                            <i class="fa fa-comment fa"></i> 댓글
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <!--댓글 작성폼-->
                                    <textarea name = "content" class="form-control" id="exampleFormControlTextarea1" rows="1"
                                              placeholder="댓글을 입력하세요"></textarea>
                                <div class="right-box">
                                    <input type="button" id="btn-save" value="등록" class="btn btn-dark mt-3">
                                </div>

<!--                                        대댓글 작성폼-->
<!--                                        <textarea name = "content" class="form-control" id="reComment1" rows="1"-->
<!--                                                  placeholder="댓글을 입력하세요"></textarea>-->
<!--                                        <input type="text"  th:name="content" class="form-control" id="reply1" name="reply1">-->
<!--                                        <input type="hidden" th:name="parentId" th:value="${commentId}"/>-->
<!--                                        <button type="submit" class="btn btn-outline-dark">답글작성</button>-->
                                   </li>
                            </ul>
                            </div>
                    </div>
                    </form>
            </div>
            <!--댓글 리스트 영역-->
            <div class="card" >
                <div class="card-header">댓글</div>

                <ul id="reply--box" class="list-group"  th:each="comment : ${comments}">
                    <th:block th:if="${comment.isParent.equals('Y')}">
<!--                <div th:if="${comment.isRemoved != '1' && comment.isParent.equals('Y')}">-->
                        <input id="commentId" type="hidden" th:name="'commentId'+${comment.id}" th:value="${comment.id}">
                        <td id="reply--1" class="list-group-item d-flex justify-content-between">
                            <div th:text="${comment.id}"></div>
                            <div th:text="${comment.content}"></div>
                            <span class="text-monospace mr-1">작성자: </span>
                            <div class="text-monospace mr-1"  th:text="${comment.writer.nickname}"></div>
                            <div class="d-flex">
                                <button id="btn-cmtDelete" class="badge btn-danger" th:onclick="'deleteComment('+${comment.id}+');'">삭제</button>
                            </div>
                    </th:block>
                            <!--대댓글 쓰기 토글 버튼-->
                    <th:block th:if="${comment.parent == null  && comment.isRemoved == false}">
                            <button type="button"
                                    data-bs-toggle="collapse"
                                    th:attr="data-bs-target=|#r${comment.id}"
                                    th:if="${parentId == null}"
                                    style="display:inline" class="btn btn-light">답글쓰기
                            </button>
                    </th:block>
                                <!--대댓글 작성폼-->
                                <div class="collapse" th:id="r + ${comment.id}">
                                    <ul class="list-group list-group-flush"><!--ul로 묶어서 토글버튼 나눔-->
                                        <li class="list-group-item">
                                        <form   th:id="frm_+${comment.id}" method="post" th:action="@{|/api/comments/${board.id}/${comment.id}|}" th:object="${commentSaveDTO}">
                                            <div class="input-group" style="width:auto">
                                                <label for="reComment1" class="form-label mt-4" hidden>댓글 작성</label>

                                                <input type="text"  th:name="content" class="form-control" id="reComment1" name="reComment1">
                                                <input type="hidden" th:name="parentId" th:value="${comment.id}"/>
    <!--                                            <button type="submit" class="btn btn-outline-dark">답글작성</button>-->
                                                <div class="d-flex">
                                                <input type="button" id="btn-reComment-save" value="답글달기" class="btn btn-dark mt-3" th:onclick="'reCommentSave('+${comment.id}+');'">
                                                </div>
                                            </div>
                                        </form>
                                        </li>
                                    </ul>
                                </div>
                                <!--대댓글 리스트 영역-->
                                <!--대댓글 내용-->
                                <th:block th:if="${comment.parent == null && comment.beParent != null}">
                                <button type="button"
                                        data-bs-toggle="collapse"
                                        th:attr="data-bs-target=|#re${comment.id}"
                                        style="display:inline" class="btn btn-light">답글보기
                                </button>
                                </th:block>
                                <div class="collapse" th:id="re + ${comment.id}" >
                                <ul id="reReply--box" class="list-group"  th:each="reComment : ${comment.children}">
                                <div class="children" th:if="${reComment.isRemoved != '1' }">
                                    &nbsp;
                                    <time class="comment4" th:datetime="${reComment.createdDate}"
                                          th:text="${#temporals.format(reComment.createdDate, 'yyyy-MM-dd HH:mm')}"
                                          style="display:inline"><small>2022-10-01</small></time>
                                    <img src="/images/reply-ico.png" alt="답글" style="width:10px; height:10px;" class="replyicon">
                                    <strong class="writer" th:text="${reComment.writer.nickname}">brince</strong>
                                    &nbsp;

                                    <p th:text="${reComment.content}">
                                    <p>
                                    <hr>
                                    <button id="btn-reCmtDelete" class="badge btn-danger" th:onclick="'deleteComment('+${reComment.id}+');'">삭제</button>
                                </div>
<!--                                <div class="children" th:if="${reComment.isRemoved == '1'}">-->
<!--                                    <p >-->
<!--                                        <img src="/images/reply-ico.png" alt="답글" style="display:inline" class="replyicon">-->
<!--                                        <span class="comment3">삭제된 답글입니다.</span>-->
<!--                                    </p>-->
<!--                                    <hr>-->

<!--                                </div>-->

                            <!--대댓글 입력 영역-->
                            <!--sec:authorize="isAuthenticated()"    로그인 풀리면 data-bs-toggle="collapse" 아랫줄에 넣어야함-->
                            <!--th:if="${comment.writer != null and comment.writer.equals(#authentication.getName())}" 로그인 풀리면 th:attr="data-bs-target=|#r${comment.id}" 아랫줄에 넣어야함-->

    <!--                       //쓸모없음 <button id=".reCommentBtn" type="button" class="btn btn-outline-secondary">답글</button>-->
                                </ul>

                                </div>
                    </td>
                </ul>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item " th:classappend="${1== comments.pageable.pageNumber +1} ? 'disabled'">
                        <a class="page-link" href=#
                           th:href="@{/boards/view(id = ${board.id},page=${comments.pageable.pageNumber -1})}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${i== comments.pageable.pageNumber +1} ? 'disabled'"
                        th:each="i: ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" href=# th:href="@{/boards/view(id = ${board.id},page=${i -1})}"
                           th:text="${i}">1</a>
                    </li>
                    <li class="page-item"
                        th:classappend="${comments.totalPages== comments.pageable.pageNumber +1} ? 'disabled'">
                        <a class="page-link" href="#"
                           th:href="@{/boards/view(id = ${board.id}, page=${comments.pageable.pageNumber +1})}">Next</a>
                    </li>
                </ul>
            </nav>
<!--
                        <textarea name = "content" class="form-control" rows="1"
                                  placeholder="댓글을 입력하세요"></textarea>
                        <div class="right-box">
                            <input type="button" id="btn-reCommentSave" value="등록" class="btn btn-dark mt-3">
                        </div>
                    </li>






                        <div class="collapse" id="reply_card">-->
            <!--                <section class="modal-section">-->
            <!--                    <div class="card card-body">-->
            <!--                        &lt;!&ndash; 댓글 목록 &ndash;&gt;-->
            <!--                        <div class="reply-list reply-list">-->
            <!--                            &lt;!&ndash; 댓글이 목록이 들어가는 곳 &ndash;&gt;-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </section>-->
<!--                        </div>-->
    </div>


    <!--    <script th:inline="javascript">-->

    <!--        let btn = $(".upt_btn");-->
    <!--        const UrlName = "";-->

    <!--        btn.on("click" , function() {-->
    <!--            const formdata = $("#frm").serializeArray();-->
    <!--            if(formdata.length == 0) return;-->

    <!--            requestUserDtoToServer(urlName , formDataObject )-->
    <!--        });-->

    <!--    </script>-->


</th:block>
</html>
