<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block  th:replace="pc/fragments/header :: html-head"></th:block>
  <title>boards page</title>
  <script src="/js/pc/summernote/summernote-lite.js"></script>
  <script src="/js/pc/summernote/lang/summernote-ko-KR.js"></script>

  <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
</head>
<body>
<!-- main header fragments-->
<th:block  th:replace="pc/fragments/bodyHeader :: header"></th:block>

<!--main content wrapper-->
<th:block th:replace = "pc/fragments/mainContent :: mainContentWrapper('form')"></th:block>

<!-- main footer fragments -->
<th:block th:replace = "pc/fragments/footer :: footer"></th:block>
<script src = "/js/pc/common/common_util_seul.js"></script>


<!--<script src = "/js/pc/seul/summerImage.js"></script>-->

</body>
</html>